<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TestOkur Gunluk Veriler</title>

    <style type="text/css">
        table tr td {
            padding:10px;
            padding-left:30px;
        }
    </style>
</head>
<body>
    <p>
        @Model.Today.ToString("dd.MM.yyyy") tarihine ait gunluk veriler asagidaki gibidir ;
    </p>
    <br />
    <br />
    <table border="1" style="font-size:20px;">
        <tr>
            <td>
                <strong>Kullanici Tarafindan Gun Icinde Iletilen SMS Sayisi</strong>
            </td>
            <td>
                @Model.TotalUserSMSCountInDay
            </td>
        </tr>       
		<tr>
            <td>
                <strong>Sistem(Otomatik) Tarafindan Gun Icinde Iletilen SMS Sayisi</strong>
            </td>
            <td>
                @Model.TotalSystemSMSCountInDay
            </td>
        </tr>
		<tr>
            <td>
                <strong>Gun Icinde Gonderilen Basarili SMS Sayisi</strong>
            </td>
            <td>
                @Model.TotalSuccessfulSMSCountInDay
            </td>
        </tr>
		<tr>
            <td>
                <strong>Gun Icinde Hata Alinan SMS Sayisi</strong>
            </td>
            <td>
                @Model.TotalFailedSMSCountInDay
            </td>
        </tr>
		<tr>
            <td>
                <strong>En Uzun SMS Gonderim Suresi</strong>
            </td>
            <td>
                @Model.LongestSMSDuration  milisaniye
            </td>
        </tr>
			<tr>
            <td>
                <strong>En Kisa SMS Gonderim Suresi</strong>
            </td>
            <td>
                @Model.ShortestSMSDuration  milisaniye
            </td>
        </tr>
		<tr>
            <td>
                <strong>Ortalama SMS Gonderim Suresi</strong>
            </td>
            <td>
                @Model.AverageSMSDuration  milisaniye
            </td>
        </tr>
		<tr>
            <td>
                <strong>Gun icinde en cok SMS gonderen kullanici</strong>
            </td>
            <td>
                @Model.TopSMSSenderEmailAddressInDay   (@Model.TopSMSSenderCountInDay adet)
            </td>
        </tr>
		<tr>
            <td>
                <strong>Toplamda en cok SMS gonderen kullanici</strong>
            </td>
            <td>
                @Model.TopSMSSenderEmailAddressForAllTime   (@Model.TopSMSSenderCountForAllTime adet)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Gun icinde oturum acan kisi sayisi</strong>
            </td>
            <td>
                @Model.TotalIndividualLoginCountInDay  
            </td>
        </tr>
	    <tr>
            <td>
                <strong>Lisans suresi bugun biten kullanicilar</strong>
            </td>
            <td>
                @Model.ExpiredLicensesToday
            </td>
        </tr>
    </table>
</body>
</html>