<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SMS Paketiniz</title>

    <style type="text/css">
        table tr td {
            padding: 10px;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <p>
        Sayın <strong>@Model.Name  @Model.Surname</strong> TestOkur lisans bilginize <strong>@Model.AddedSMSCount</strong> Adet SMS tanımlaması  yapılmıştır.
    </p>
    <p>
        Kullanabileceğiniz mevcut SMS adeti  <strong>@Model.TotalSMSCount</strong>'dir.
    </p>
    <p>
        SMS paketinizin kullanım süresinde bir sınırlama yoktur.
    </p>
    <p>
        SMS paketiniz bitmeden yeni paket satın alabilirsiniz. Kalan SMS adedi yeni satın aldığınız SMS paketine eklenecektir.
    </p>
    <br />
    <br />
    <p>
        İlginize teşekkür ederiz.
    </p>
</body>
</html>