<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Lisans Yenileme</title>

	<style type="text/css">
		table tr td {
			padding: 10px;
			padding-left: 30px;
		}
	</style>
</head>
<body>
	<p>
		Değerli TestOkur Kullanıcısı,
	</p>
	<p>
		Lisansınızın kullanım süresi @Model.RemainingDay gün sonra sona erecektir. Aşağıdaki hesap numaralarımıza 35 TL lisans yenileme ücreti yatırdıktan sonra web sitemizde yer alan lisans yenileme formunu doldurmanız yeterlidir. Yenileme işleminiz 24 saat içinde yapılacak ve tarafınıza SMS ve e-posta yolu ile bilgi verilecektir.
	</p>
	<br />
	<br />
	<p>
		<strong>Banka Hesap Numaramız:</strong>
	</p>
	<p>
		AKBANK - İZMİR / BERGAMA ŞUBESİ
	</p>
	<p>
	<div>
		<p>
			<strong style="color:red">ALICI:</strong>
			<strong style="color:blue">SUZAN YALÇIN</strong>
		</p>
		<p>
			<strong style="color:red">İBAN:</strong>
			<strong style="color:blue">TR57 000 4600 106 888 000 128 644</strong>
		</p>
	</div>
	</p>
	<p>
		HESAP NO: 0106-0128644
	</p>
</body>
</html>