<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lisans Kaydınız Alındı</title>

    <style type="text/css">
        table tr td {
            padding: 10px;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <p>
        Sayın <strong>@Model.UserFirstName  @Model.UserLastName</strong> TestOkur üyelik talebiniz alınmıştır.
    </p>
    <p>
        Üyelik bilgileriniz doğrulanarak 24 saat içinde lisans kaydınız onaylanacak e-posta ve SMS yolu ile bilgilendirileceksiniz.
    </p>
    <p>Kullanici adiniz : <strong>@Model.Email</strong> Parolaniz :<strong>@Model.Password</strong> </p>
    <br />
    <br />
    <p>
        İlginize teşekkür ederiz.
    </p>
</body>
</html>