<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>TestOkur Yeni Parola</title>

	<style type="text/css">
		table tr td {
			padding: 10px;
			padding-left: 30px;
		}
	</style>
</head>
<body>
	<p>
		Sayın <strong>@Model.FirstName  @Model.LastName</strong> TestOkur parolanızi asagidaki linke tiklayarak degistirebilirsiniz.
	</p>
	<br />
	<a href="@Model.Link" target="_blank">@Model.Link</a>
	<br />
	<p>
		İlginize teşekkür ederiz.
	</p>
</body>
</html>