<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TestOkur Parola</title>

    <style type="text/css">
        table tr td {
            padding: 10px;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <p>
        Sayın <strong>@Model.Name  @Model.Surname</strong> 
    </p>
    <br />
    <br />
    <table border="1" style="font-size:20px;">
        <tr>
            <td colspan="2">
                <h4>Güncel Giriş Bilgileriniz</h4>
            </td>
        </tr>
        <tr>
            <td>
                <strong>E-Posta Adresiniz </strong>
            </td>
            <td>
                @Model.EMailAddress
            </td>
        </tr>
        <tr>
            <td>
                <strong>Parolanız </strong>
            </td>
            <td>
                @Model.Password
            </td>
        </tr>
    </table>
    <br />
    <p>
        İlginize teşekkür ederiz.
    </p>
</body>
</html>