<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Lisans Yenileme</title>

	<style type="text/css">
		table tr td {
			padding: 10px;
			padding-left: 30px;
		}
	</style>
</head>
<body>
	<p>
		Değerli TestOkur Kullanıcısı,
	</p>
	<p>
		Lisansınızın kullanım süresi 7 gün sonra sona erecektir. Aşağıdaki baglantiya tiklayarak lisansinizi yenileyiniz.
	</p>
	<br />
	<a href="https://www.testokur.com/lisans-yenileme/" target="_blank">https://www.testokur.com/lisans-yenileme/</a>

</body>
</html>