<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SMS Promosyon!</title>
</head>
<body>
    <p>
        Sayın <strong>@Model.RefereeFirstName  @Model.RefereeLastName</strong>,@Model.ReferrerFirstName 
		@Model.ReferrerLastName  isimli kullanicimizin referansi ile kayit oldugunuz icin bizden 
		<strong>@Model.RefereeGainedSmsCredits</strong> adet SMS kazandiniz !
    </p>
    <p>
        Kullanabileceğiniz mevcut SMS adeti  <strong>@Model.RefereeSmsBalance</strong>'dir.
    </p>
    <br />
    <br />
    <p>
        İlginize teşekkür ederiz.
    </p>
</body>
</html>