<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lisans Yenileme</title>

    <style type="text/css">
        table tr td {
            padding: 10px;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <p>
        Sayın <strong>@Model.FirstName  @Model.LastName </strong> TestOkur lisans yenileme işleminiz yapılmıştır.
    </p>
    <p>
        Lisansınızın son kullanım tarihi : <strong> @Model.ExpiryDate.ToString("dd.MM.yyyy") </strong>
    </p>
    <p>
        Önceki e-posta ve şifreniz ile TestOkur’u kullanmaya devam edebilirsiniz.
    </p>
    <p>
        Kullanım süreniz dolmadan dilediğiniz zaman lisansınızı yenileyebilirsiniz. Kalan gün sayısı yeni lisans sürenize eklenecektir.
    </p>
    <p>
        Üyelik bilgilerinizi TestOkur üzerinden güncelleyebilirsiniz.
    </p>
    <br />
    <br />
    <p>
        İlginize teşekkür ederiz.
    </p>
</body>
</html>